@import '../../../../styles/mixins/mixins';
@import '../../../../styles/abstract/colors';

.Meetings {
  &__CreateMeetingBtn {
    @include Title-h2(0, 0, 2rem, 0);
    border-bottom: 1px solid $color-primary;
    cursor: pointer;
  }
  &__Upcoming,
  &__Finished {
    &__Title {
      @include Title-h2(0, 0, 2rem, 0);
    }
  }
  &__Finished {
    &__Title {
      margin-top: 2rem;
    }
  }
}
