@import '../../../../styles/mixins/mixins';

.About {
  &__Title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__Text__Container {
    @include boxPad;
  }


  &__Text {
    letter-spacing: 0.49px;
    line-height: 3;
  }

  &__Categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.8rem;
  }

  &__Category {
    padding: .3rem .5rem;
    box-shadow: 0px 3px 10px #00000080;
    margin-right: 2rem;
    border-radius: 5px;
    font-size: 1.125rem;
  }
}


