@import '../../../../styles/mixins/mixins';

.Discussion {
  &__WritePost {
    position: relative;
    &__Input {
      min-height: 6.25rem !important;
    }

    &__ActionBox {
      position: absolute;
      bottom: 20%;
      right: 1%;
    }
  }
  &__Posts {
    &__Title {
      @include Title-h2(2rem, 0, 2rem, 0);
    }
  }
}
