@import '../../../styles/abstract/colors';

.WideCard {
  display: flex;
  align-items: center;
  border: 1px solid $color-primary;
  padding: 2rem;
  border-radius: 8px;
}


.ImgContainer {
  position: relative;
  // min-width: 23.3rem;
  // height: 15rem;

  min-width: 30.3rem;
  height: 23rem;
}



.TextContainer {
  padding: 0 1.5rem;



  h3 {
    font-size:1.5rem ;
    font-weight: bold;
  }

  

  p {
      margin: .5rem 0;

    span {
      font-size: 1rem;
      font-weight: bold;
      margin-right: .5rem;
    }
  }
}
