@import '../../styles/abstract/colors';
@import '../../styles/abstract/breakpoints';
@import '../../styles/abstract/typography';

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 0;
  position: fixed;
  top: 0;
  transform: translateY(0);
  transition: all .5s;
  transform-origin: top;
  z-index: 500;
  background-color: $color-secondary;
  // border-bottom: 1px solid #ddd;
}

.scroll {
  box-shadow: 0px 8px 6px rgba($color: #00000012, $alpha: 0.1);
  // box-shadow: 0px 8px 6px #00000012;

}

.navItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navItem {
  // font-weight: 700;
  // margin-right: 3px;
  padding: 0.625rem 1.5rem;
  // text-transform: uppercase;
  transition: color 0.3s;
  &:hover {
    color: rgba($color: #000000, $alpha: 0.5);
  }
}

.logo {
  font-family: 'Pacifico', cursive;
  padding: 5px;
  font-size: 1.6rem;
  // background-color: $color-primary;
}

.navBtns {
  display: flex;
  justify-content: space-around;
}

.langSelect {
  margin-left: 0.625rem;
  border: none;
  font-weight: bold;
  // background-color: $color-primary;
  &:focus {
    outline: none;
    box-shadow: none !important;
  }
}
